<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ProyectoServlets</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name> MiServlet</servlet-name>
  	<servlet-class> miservlet.MiServlet</servlet-class>    
  </servlet>
  <servlet-mapping>
    <servlet-name> MiServlet </servlet-name>
    <url-pattern> /MiServlet </url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name> ServletObtenerEmpleado</servlet-name>
  	<servlet-class> practica1.servlet.ServletObtenerEmpleado</servlet-class>    
  </servlet>
  <servlet-mapping>
    <servlet-name> ServletObtenerEmpleado </servlet-name>
    <url-pattern> /ServletObtenerEmpleado </url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name> ServletObtenerEmpleadoHibernate</servlet-name>
  	<servlet-class> practica1.servlet.ServletObtenerEmpleadoHibernate</servlet-class>    
  </servlet>
  <servlet-mapping>
    <servlet-name> ServletObtenerEmpleadoHibernate </servlet-name>
    <url-pattern> /ServletObtenerEmpleadoHibernate </url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name> ServletObtenerEmpleadoJDBC</servlet-name>
  	<servlet-class> practica1.servlet.ServletObtenerEmpleadoJDBC</servlet-class>    
  </servlet>
  <servlet-mapping>
    <servlet-name> ServletObtenerEmpleadoJDBC </servlet-name>
    <url-pattern> /ServletObtenerEmpleadoJDBC </url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name> ServletIncrementarSalarioEmpleados</servlet-name>
  	<servlet-class> practica1.servlet.ServletIncrementarSalarioEmpleados</servlet-class>    
  </servlet>
  <servlet-mapping>
    <servlet-name> ServletIncrementarSalarioEmpleados </servlet-name>
    <url-pattern> /ServletIncrementarSalarioEmpleados </url-pattern>
  </servlet-mapping>
  
  
  
  <listener>
	<listener-class>src.ClaseServletContextListener</listener-class>
  </listener>
  <listener>
	<listener-class>src.ClaseHttpSessionListener</listener-class>
  </listener>
  <listener>
	<listener-class>src.ClaseServletRequestListener</listener-class>
  </listener>
  
  
  <filter>
      <filter-name>MyFilter</filter-name>
      <filter-class>src.MyFilter</filter-class>
  </filter>
	<filter-mapping>
	    <filter-name>MyFilter</filter-name>
	    <url-pattern>/ServletObtenerEmpleado</url-pattern>
	</filter-mapping>
	
	<filter>
      <filter-name>MyFilterHibernate</filter-name>
      <filter-class>src.MyFilterHibernate</filter-class>
  </filter>
	<filter-mapping>
	    <filter-name>MyFilterHibernate</filter-name>
	    <url-pattern>/ServletObtenerEmpleadoHibernate</url-pattern>
	</filter-mapping>
	
	<filter>
      <filter-name>MyFilterJDBC</filter-name>
      <filter-class>src.MyFilterJDBC</filter-class>
  </filter>
	<filter-mapping>
	    <filter-name>MyFilterJDBC</filter-name>
	    <url-pattern>/ServletObtenerEmpleadoJDBC</url-pattern>
	</filter-mapping>
	
	
	<context-param> 
	    <param-name>inc</param-name> 
	    <param-value>20</param-value>    
	</context-param>
	<!-- 
	<context-param>
          <param-name>username</param-name>  
          <param-value>system</param-value>  
	</context-param>
	 -->
	
	
</web-app>